<div class="container mt-5">
    <div class="container">
      <div class="row justify-content-center">
        <div *ngIf="formCompleted==false" class="col-lg-4 col-md-5 col-sm-5 col-xs-5">
          <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
            <h2 class="text-center text-primary">Reset Password</h2>
            <hr>

            <app-text-input formControlName="password" [label]="'Password'" [type]="'password'"></app-text-input>
            <app-text-input formControlName="confirmPassword" [label]="'Confirm Password'" [type]="'password'"></app-text-input>
  
            <ul class="text-danger list-unstyled" *ngIf="errors">
              <li *ngFor="let error of errors">
                {{error}}
              </li>
            </ul>
            <div class="form-group text-center">
              <button class="btn btn-primary btn-block" [disabled]="resetPasswordForm.valid == false" type="submit">
                Reset Password
              </button>
              <button class="btn btn-default btn-block" type="button" [routerLink]="['/home']">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div *ngIf="formCompleted==true && showPasswordResetSuccessfully==true" style="text-align: center">
        <h2>Password Reset Successful</h2>
        <p class="text-center mt-3">Your password has been reset successfully. Please login with your new password.</p>
    </div>
</div>
