<div class="container mt-5">
    <div style="text-align: center">
            <h2>Account pending email verification</h2>
            <p class="lead mt-3">We have sent an account verification link to your email. 
                Please check your inbox and follow the link. 
                Make sure to check your junk folder if you cannot find the email. </p>
    
    </div>
    <div style="text-align: center">
        <p>Still can't find it? </p>
        <button class="btn btn-primary" (click)="sendLink()">Send again</button>
    </div>
</div>