<div class="container mt-5">
  <div class="container">
    <div class="row justify-content-center">
        <div *ngIf="registrationCompleted==false" class="col-lg-4 col-md-5 col-sm-5 col-xs-5">
          <form [formGroup]="registerForm" (ngSubmit)="register()">
            <h2 class="text-center text-primary">Sign Up</h2>
            <hr>

            <div class="form-group text-center">
              <label class="control-label" style="margin-right:10px">I am a: </label>
              <label class="radio-inline">
                <input class="mr-2" type="radio" value="male" formControlName="gender">Male
              </label>
              <label class="radio-inline ml-3 ml-lg-3 ml-md-3 ml-sm-2 ml-xs-2">
                <input class="mr-2" type="radio" value="female" formControlName="gender">Female
              </label>
            </div>


            <app-text-input formControlName="username" [label]="'Username'"></app-text-input>
            <app-text-input formControlName="email" [label]="'Email Address'"></app-text-input>
            <app-text-input formControlName="displayName" [label]="'Display Name'"></app-text-input>
            <!-- <app-date-input formControlName="dateOfBirth" [label]="'Date of Birth'"></app-date-input> -->
            <div class="form-label-group">
              <input [ngClass]="{'is-invalid': registerForm.get('dateOfBirth').errors 
                                                && registerForm.get('dateOfBirth').touched, 
                                  'is-valid': registerForm.get('dateOfBirth').touched && !registerForm.get('dateOfBirth').errors}" 
                class="form-control"
                placeholder="Date of Birth"
                formControlName="dateOfBirth"
                autocomplete="new-form-label-group"
                type="text" bsDatepicker [bsConfig]="bsConfig">
              <label>Date of Birth</label>
              <div class="invalid-feedback" 
                *ngIf="registerForm.get('dateOfBirth').touched
                && registerForm.get('dateOfBirth').hasError('required')">
                Date of Birth is required
              </div>
              <!-- <div *ngIf="registerForm.get('dateOfBirth').untouched"> -->
                <label class="add-on" for="dateOfBirth">
                  <span *ngIf="registerForm.get('dateOfBirth').untouched" class="fa fa-calendar untouched add-on"></span>
                  <span *ngIf="registerForm.get('dateOfBirth').touched && registerForm.get('dateOfBirth').errors" class="fa fa-calendar touchedInvalid add-on"></span>
                  <span *ngIf="registerForm.get('dateOfBirth').touched && !registerForm.get('dateOfBirth').errors" class="fa fa-calendar touchedValid add-on"></span>
                </label>


            <!-- </div> -->
            </div>
            <app-text-input formControlName="city" [label]="'City'"></app-text-input>
            <app-text-input formControlName="country" [label]="'Country'"></app-text-input>
            <app-text-input formControlName="password" [label]="'Password'" [type]="'password'"></app-text-input>
            <app-text-input formControlName="confirmPassword" [label]="'Confirm Password'" [type]="'password'"></app-text-input>
            
            <!-- <mat-error *ngIf="myForm.hasError('notSame')">
              Passwords do not match
            </mat-error>  -->

            <ul class="text-danger list-unstyled" *ngIf="errors">
              <li *ngFor="let error of errors">
                  {{error}}
              </li>
              <!-- <li *ngIf="this.passwordMatchValidator()== false">
                Error
              </li> -->
            </ul>
            <div class="form-group text-center">
              <button class="btn btn-primary btn-block" [disabled]="registerForm.valid == false" type="submit">
                Register
              </button>
              <button class="btn btn-default btn-block" type="button" [routerLink]="['/home']">Cancel</button>
            </div>
          </form>
        
            <!-- <div class="form-group">
              <input type="text"
                [ngClass]="{'is-invalid': registerForm.get('username').errors 
                  && registerForm.get('username').touched}"
                class="form-control"
                formControlName="username"
                placeholder="Username">
              <div class="invalid-feedback">Username is required</div>
            </div>
          
            <div class="form-group">
              <input type="text"
                [ngClass]="{'is-invalid': registerForm.get('email').errors 
                  && registerForm.get('email').touched}"
                class="form-control"
                formControlName="email"
                placeholder="Email">
              <div class="invalid-feedback">Username is required</div>
            </div>
        
            <div class="form-group">
              <input [ngClass]="{'is-invalid': registerForm.get('displayName').errors 
                && registerForm.get('displayName').touched}"
                class="form-control"
                placeholder="Display Name"
                formControlName="displayName">
              <div class="invalid-feedback" 
                *ngIf="registerForm.get('displayName').touched
                  && registerForm.get('displayName').hasError('required')">
                  Display name is required
              </div>
            </div>
        
            <div class="form-group">
              <input [ngClass]="{'is-invalid': registerForm.get('dateOfBirth').errors 
                && registerForm.get('dateOfBirth').touched}" 
                class="form-control"
                placeholder="Date of Birth"
                formControlName="dateOfBirth"
                type="text" bsDatepicker [bsConfig]="bsConfig">
              <div class="invalid-feedback" 
                *ngIf="registerForm.get('dateOfBirth').touched
                && registerForm.get('dateOfBirth').hasError('required')">
                Date of Birth is required
              </div>
            </div>
        
            <div class="form-group">
              <input [ngClass]="{'is-invalid': registerForm.get('city').errors
                && registerForm.get('city').touched}"
                class="form-control"
                placeholder="City"
                formControlName="city">
              <div class="invalid-feedback" *ngIf="registerForm.get('city').touched
                && registerForm.get('city').hasError('required')">
                City is required
              </div>
            </div>
          
            <div class="form-group">
              <input [ngClass]="{'is-invalid': registerForm.get('country').errors
                && registerForm.get('country').touched}"
                class="form-control"
                placeholder="Country"
                formControlName="country">
              <div class="invalid-feedback" *ngIf="registerForm.get('country').touched
                && registerForm.get('country').hasError('required')">
                Country is required
              </div>
            </div>
        
            <div class="form-group">
              <input type="password" 
                [ngClass]="{'is-invalid': registerForm.get('password').errors 
                  && registerForm.get('password').touched}"
                class="form-control" 
                formControlName="password"
                placeholder="Password">
                <div class="invalid-feedback" 
                  *ngIf="registerForm.get('password').hasError('required') 
                    && registerForm.get('password').touched">
                    Password is required
                </div>
                <div class="invalid-feedback" 
                *ngIf="registerForm.get('password').hasError('minlength') 
                  && registerForm.get('password').touched">
                  Password must be at least 4 characters.
                </div>
                <div class="invalid-feedback" 
                *ngIf="registerForm.get('password').hasError('maxlength') 
                  && registerForm.get('password').touched">
                  Password cannot exceed 8 characters.
                </div>
            </div>
          
            <div class="form-group">
              <input type="password" 
                [ngClass]="{'is-invalid': registerForm.get('confirmPassword').errors 
                  && registerForm.get('confirmPassword').touched
                  || registerForm.get('confirmPassword').touched
                  && registerForm.hasError('mismatch')}"
                class="form-control" 
                formControlName="confirmPassword" 
                placeholder="Confirm Password">
                <div class="invalid-feedback" 
                  *ngIf="registerForm.get('confirmPassword').hasError('required') 
                    && registerForm.get('confirmPassword').touched">
                    Password confirmation is required
                </div>
                <div class="invalid-feedback" 
                *ngIf="registerForm.hasError('mismatch') 
                  && registerForm.get('confirmPassword').touched">
                  Password does not match
              </div>
            </div>
        
            <div class="form-group text-center">
              <button class="btn btn-primary btn-block" [disabled]="registerForm.valid == false" type="submit">
                Register
              </button>
              <button class="btn btn-default btn-block" type="button" [routerLink]="['/home']">Cancel</button>
            </div>
          </form> --> 
        <!-- </div> -->
        <div *ngIf="registrationCompleted==true" style="text-align: center">
            <app-awaiting-email-verification></app-awaiting-email-verification>
        </div>
    </div>
  </div>
</div>
