<div class="container mt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div *ngIf="registrationCompleted==false" class="col-lg-4 col-md-5 col-sm-5 col-xs-5">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <h2 class="text-center text-primary">Sign Up</h2>
          <hr>

          <div class="form-group text-center">
            <label class="control-label" style="margin-right:10px">I am a: </label>
            <label class="radio-inline">
              <input class="mr-2" type="radio" value="male" formControlName="gender">Male
            </label>
            <label class="radio-inline ml-3 ml-lg-3 ml-md-3 ml-sm-2 ml-xs-2">
              <input class="mr-2" type="radio" value="female" formControlName="gender">Female
            </label>
          </div>

          <app-text-input formControlName="username" [label]="'Username'"></app-text-input>
          <app-text-input formControlName="email" [label]="'Email Address'"></app-text-input>
          <app-text-input formControlName="displayName" [label]="'Display Name'"></app-text-input>
          <div class="form-label-group">
            <input
              [ngClass]="{'is-invalid': registerForm.get('dateOfBirth').errors 
                                                && registerForm.get('dateOfBirth').touched, 
                                  'is-valid': registerForm.get('dateOfBirth').touched && !registerForm.get('dateOfBirth').errors}"
              class="form-control" placeholder="Date of Birth" formControlName="dateOfBirth"
              autocomplete="new-form-label-group" type="text" bsDatepicker [bsConfig]="bsConfig">
            <label>Date of Birth</label>
            <div class="invalid-feedback" *ngIf="registerForm.get('dateOfBirth').touched
                && registerForm.get('dateOfBirth').hasError('required')">
              Date of Birth is required
            </div>
            <label class="add-on" for="dateOfBirth">
              <span *ngIf="registerForm.get('dateOfBirth').untouched" class="fa fa-calendar untouched add-on"></span>
              <span *ngIf="registerForm.get('dateOfBirth').touched && registerForm.get('dateOfBirth').errors"
                class="fa fa-calendar touchedInvalid add-on"></span>
              <span *ngIf="registerForm.get('dateOfBirth').touched && !registerForm.get('dateOfBirth').errors"
                class="fa fa-calendar touchedValid add-on"></span>
            </label>
          </div>
          <app-text-input formControlName="city" [label]="'City'"></app-text-input>
          <app-text-input formControlName="country" [label]="'Country'"></app-text-input>
          <app-text-input formControlName="password" [label]="'Password'" [type]="'password'"></app-text-input>
          <app-text-input formControlName="confirmPassword" [label]="'Confirm Password'" [type]="'password'">
          </app-text-input>

          <ul class="text-danger list-unstyled" *ngIf="errors">
            <li *ngFor="let error of errors">
              {{error}}
            </li>
          </ul>
          <div class="form-group text-center">
            <button class="btn btn-primary btn-block" [disabled]="registerForm.valid == false" type="submit">
              Register
            </button>
            <button class="btn btn-default btn-block" type="button" [routerLink]="['/home']">Cancel</button>
          </div>
        </form>
      </div>
      <div *ngIf="registrationCompleted==true" style="text-align: center">
        <app-awaiting-email-verification [loginInfo]="loginInfo"></app-awaiting-email-verification>
      </div>
    </div>
  </div>
</div>
