<div class="card">
    <div class="card-body" id="message-thread" #messageThread
    infinite-scroll
    [infiniteScrollUpDistance]="1"
    [infiniteScrollThrottle]="20"
    [scrollWindow]="false"
    (scrolledUp)="onScrollUp()">
        <div *ngIf="messages?.length===0">
            <p>No messages yet... say hi by using the message box below</p>
        </div>
        <div>
            <div *ngFor="let group of groupedMessages">
                <p class="text-center text-muted mt-3" style="font-size:smaller; margin-bottom:-15px">{{group[0] | date:'longDate'}}</p><hr class="mb-4">
                <div class="row" *ngFor="let message of group[1]">
                    <!-- <p>{{message[0]}}</p> -->
                    <div class="col-7 message other-message" *ngIf="message.senderId == recipientId">
                        <b>{{message.senderDisplayName}}</b><br>
                        <span>{{message.content}}</span><br>
                        <div class="messageHeader float-right">
                            <span class="text-muted"><i class="fa fa-clock-o text-muted"></i>
                                {{message.messageSent | date:'shortTime'}}
                            </span>
                        </div>
                    </div>
                    <div class="col-7 offset-5 message user-message" *ngIf="message.senderId != recipientId">
                        <b>{{message.senderDisplayName}}</b><br>
                        <span>{{message.content}}</span><br>
                        <div class="messageHeader float-right">
                            <span class="text-muted"><i class="fa fa-clock-o text-muted"></i>
                                {{message.messageSent | date:'shortTime'}}
                            </span>
                            <span *ngIf="message.isRead == false" class="text-info"> <i class="fa fa-check-circle-o"></i></span>
                            <span *ngIf="message.isRead" class="text-info"> <i class="fa fa-check-circle"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row" *ngFor="let message of messages">
                <div class="col-7 message other-message" *ngIf="message.senderId == recipientId">
                    <b>{{message.senderDisplayName}}</b><br>
                    <span>{{message.content}}</span><br>
                    <div class="messageHeader float-right">
                        <span class="text-muted"><i class="fa fa-clock-o text-muted"></i>
                            {{message.messageSent | date:'short'}}
                        </span>
                    </div>
                </div>
                <div class="col-7 offset-5 message user-message" *ngIf="message.senderId != recipientId">
                    <b>{{message.senderDisplayName}}</b><br>
                    <span>{{message.content}}</span><br>
                    <div class="messageHeader float-right">
                        <span class="text-muted"><i class="fa fa-clock-o text-muted"></i>
                            {{message.messageSent | date:'short'}}
                        </span>
                        <span *ngIf="message.isRead == false" class="text-info"> <i class="fa fa-check-circle-o"></i></span>
                        <span *ngIf="message.isRead" class="text-info"> <i class="fa fa-check-circle"></i></span>
                    </div>
                </div>
            </div> -->
        </div>
        </div>
        
    <div class="card-footer">
        <form #messageForm="ngForm" (ngSubmit)="messageForm.valid && sendMessage()">
            <div class="input-group">
                <textarea rows="1" autosize maxRows="3" type="text" [(ngModel)]="newMessageToSend.content" 
                    (focus)="resetNewMessagesCounterForThread(this.userId)" name="content"
                    required class="form-control input-sm text-area" placeholder="Send a private message"></textarea>
                <div class="input-group-append">
                    <button class="btn btn-info" [disabled]="messageForm.valid==false"><i
                            class="fa fa-paper-plane"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>






        <!-- <ul class="chat">
            <li *ngFor="let message of messages">
                to them
                <div *ngIf="message.senderId == recipientId">
                    <span class="chat-img float-left imageRecipient">
                        <img src="{{message.senderPhotoUrl || '../../../../../assets/user.png'}}" alt="{{message.senderDisplayName}}" class="rounded-circle mr-1">
                    </span>
                    <div class="chat-body chatRecipient">
                        <div class="header">
                            <strong class="primary-font">{{message.senderDisplayName}}</strong>
                            <small class="text-muted float-right">
                                <span class="fa fa-clock-o"> {{message.messageSent | timeago}}</span>
                            </small>
                        </div>
                        <p>{{message.content}}</p>
                    </div>
                </div>
                to me
                <div *ngIf="message.senderId != recipientId">
                    <span class="chat-img float-right imageSender">
                        <img src="{{message.senderPhotoUrl || '../../../../../assets/user.png'}}" alt="{{message.senderDisplayName}}" class="rounded-circle ml-1">
                    </span>
                    <div class="chat-body chatSender">
                        <div class="header">
                            <small class="text-muted float-right">
                                <span class="fa fa-clock-o"> {{message.messageSent | timeago}}</span>
                                <span *ngIf="message.isRead == false" class="text-danger"> (unread)</span>
                                <span *ngIf="message.isRead" class="text-muted"> (Read {{message.dateRead | timeago}})</span>
                                <span *ngIf="message.isRead" class="text-muted"> (Read)</span>

                            </small>
                            <strong class="primary-font float-right">{{message.senderDisplayName}}</strong>
                        </div>
                        <p>{{message.content}}</p>
                    </div>
                </div>
            </li>
        </ul> -->
