table {
    margin-top: 15px;
}
.img-circle {
    max-height: 50px;
}
td {
    vertical-align: middle;
}
.message-unread{
    font-weight: bold;
    // background: rgb(224, 248, 252);
}

.ellipsis {
    max-width: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}